.folder {
  width: auto;
  height: auto;
  border: rgba(176, 245, 233, 0.9) solid 0.1rem;
  margin: 1%;
  margin-top: 1rem;
  padding: 0;
  background-color: rgba(176, 245, 233, 0.9);
  border-radius: 0.5rem;
}
